In [242]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

from sklearn.metrics import accuracy_score

In [243]:
titanic_data = pd.read_csv('/content/drive/MyDrive/ML datasets/Titanic survival prediction/train.csv')
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [244]:
titanic_data.shape

(891, 12)

In [245]:
titanic_data['Cabin'].value_counts()

B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: Cabin, Length: 147, dtype: int64

In [246]:
titanic_data = titanic_data.drop('Cabin', axis = 1)

In [247]:

titanic_data.replace({'Sex':{'male':0, 'female':1}, 'Embarked':{'S':0, 'C':1, 'Q':2}}, inplace = True)

In [248]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     889 non-null    float64
dtypes: float64(3), int64(6), object(2)
memory usage: 76.7+ KB

# Label encoding time

In [249]:
# encoder = LabelEncoder()

In [250]:
# titanic_data['Cabin'] = encoder.fit_transform(titanic_data['Cabin'])

In [251]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,1.0
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,0.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,0.0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,0.0

## Handling Missing Values

In [252]:
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [253]:
titanic_data['Age'].mean()

29.69911764705882

In [254]:
titanic_data['Age'].fillna(titanic_data['Age'].mean(), inplace = True)
titanic_data.dropna(inplace = True)
titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode(), inplace = True)

In [255]:
titanic_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [256]:
titanic_data.shape

(889, 11)

## Data defining part

In [257]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,1.0
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,0.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,0.0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,0.0

In [258]:
x = titanic_data.drop(columns = ['PassengerId', 'Survived','Ticket', 'Name'], axis = 1)
y = titanic_data['Survived']

print(y.shape)

(889,)

In [259]:
titanic_data['Survived'].value_counts()

0    549
1    340
Name: Survived, dtype: int64

In [260]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 2 )

In [261]:
print(x.shape, x_train.shape, x_test.shape)

(889, 7) (711, 7) (178, 7)

## Model training

In [262]:
model = LogisticRegression()

In [263]:
model.fit(x_train, y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [264]:
x_train_prediction = model.predict(x_train)
prediction = accuracy_score(x_train_prediction, y_train)
print(prediction)

0.8030942334739803

In [265]:
x_test_prediction = model.predict(x_test)
prediction = accuracy_score(x_test_prediction, y_test)
print(prediction)

0.797752808988764

## Model selection

In [266]:
models = [LogisticRegression(max_iter = 1500), KNeighborsClassifier(), RandomForestClassifier(), SVC(kernel = 'linear'), GaussianNB()]

for model in models:
  model.fit(x_train, y_train)
  x_train_prediction = model.predict(x_train)
  prediction = accuracy_score(x_train_prediction, y_train)
  print(model,'=', prediction)

LogisticRegression(max_iter=1500) = 0.8030942334739803
KNeighborsClassifier() = 0.8045007032348804
RandomForestClassifier() = 0.9831223628691983
SVC(kernel='linear') = 0.7932489451476793
GaussianNB() = 0.7960618846694796